@model System.Collections.Generic.List<Jackson.DAL.PostImage>

<div>
    @foreach (var img in Model)
    {
        <img class="img-responsive img-rounded homePhoto100" src="data:image;base64, @System.Convert.ToBase64String(img.Image)" />
        @Html.ActionLink("Delete", "DeleteImage", new{id=img.Id})
    }
</div>