@model Jackson.DAL.BlogPost

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_wgahLayout.cshtml";
}


    <div class="blogRow container ">
       
        @{
            Html.RenderPartial("_blogPostDetails", Model);
        }

    </div>
